<div class="container">
  
    <div class="post-form">
  <div *ngFor="let com of lstcomments" class="posts">
    <a href="#" routerLink="/blogpage"><img src="{{com.imgUrl}}" style= "height:80px ; width:80px"></a>
   <a href="#" routerLink="/blogpage"> <h3> Title : {{com.title}}</h3></a>
   <a href="#" routerLink="/detailblog"> <p>Id : {{com.id}}</p></a>
   <div class="post-date">
      <span> Author : {{com.author}}</span><br/>
      posted on : {{com.created_at| date:'medium'}}
    </div>
    <div class="post-desc"> Description : {{com.adv_description}}</div>
  </div>
  </div>
  </div>
